*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    direction: rtl;
}

body {
    background-color: #F9FAFB;
    
}
td{
    padding: .9375rem;
}
a {
    color: black;
}

.font-family {
    font-family: "Rubik", sans-serif;

}

.container-for-head {
    width: 100%;
    display: flex;
}

.navbar {
    width: 19%;
    /* overflow: auto; */
    position: relative;
    right: 0;
    top: 0;
}

.global {
    width: 80%;
    padding-right: 30px;

}

.coin {
    width: 3.75rem;
    height: 3.75rem;
    background-color: #2C51F1;
    border-radius: .625rem;
    margin: .625rem auto;
}

.coin i {
    position: relative;
    top: 1.4375rem;
    right: 1.0625rem;
}

.group {
    width: fit-content;
    display: flex;
    flex-wrap: nowrap;
    margin-top: .625rem;
    padding: 1.25rem;
}

.list-group {
    margin-top: .625rem;
}

.head-page {
    width: 170px;
    border-radius: 10px;
    background-color: #EFF6FF;
    margin-bottom: 20px;
    font-size: 16px;
}

.head-page a {
    color: #155DFC;
    position: relative;
    top: 15px;
    right: 10px;
}

.list-group ul a li {
    padding-bottom: 30px;
}

.list-group ul a li span {
    padding-right: 10px;
}

.intro {
    padding-right: 10px;
}

.intro h1 {
    font-size: 50px;
}

.arrow {
    width: 40px;
    height: 40px;
    background-color: #DBE8FC;
    border-radius: 10px;
}

.arrow i {
    position: relative;
    top: 10px;
    right: 13px;
}

.button-1 {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1.875rem;
}

.button-1:hover {
    transform: translateX(5px);
    cursor: grab;
}

.button-1 span {
    margin-top: .625rem;
    margin-right: .625rem;
}

.foot-navbar {
    margin-right: 1.25rem;
}

.foot-navbar h3 {
    padding-bottom: 3.125rem;
    padding-top: 1.875rem;
}

.section-1 {
    background-color: #F9FAFB;
    width: 95%;
    padding: 0.875rem;
    padding-top: 1.125rem;
    display: flex;
    flex-wrap: nowrap;
    border-radius: .625rem;
    border: .0625rem solid #EDEEEF;
    height: fit-content;
    justify-content: space-between;
    background-color: #FEFEFF;
    box-shadow: 0 1px #EDEEEF;
    margin-top: 1.875rem;
    margin-right: 1.5625rem;
}

.part-one {
    display: flex;
    flex-wrap: nowrap;

}

.intro-1 {
    padding-right: 20px;
}


.coin-1 {
    width: 60px;
    height: 60px;
    background-color: #2C51F1;
    border-radius: 10px;
}

.coin-1 i {
    position: relative;
    top: 20px;
    right: 18px;
}

.online {
    width: fit-content;
    height: fit-content;
    color: green;
    padding: .625rem;
    border-radius: .625rem;
    background-color: #F0FDF4;
    margin-right: 20px;
    border: 1px solid #DBFCE7;
}

.part-two {
    display: flex;
}

.avatar .content-avatar1 {
    margin-left: 10px;
}

.search {
    width: fit-content;
    padding: .625rem;
    border-radius: .625rem;
    border: 1px solid #DBFCE7;
    height: fit-content;
    margin-left: .625rem;

}

.ring {
    width: fit-content;
    padding: .65rem;
    border-radius: .625rem;
    border: 1px solid #DBFCE7;
    position: relative;
    height: fit-content;
    margin-left: 1.25rem;
}

.natifaction {
    color: white;
    width: .9375rem;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    bottom: 30px;
    left: 25px;
}

.ring .natifaction span {
    margin-right: .25rem;
    font-size: .75rem;
}

.avatar {
    width: 170px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    border: 1px solid #DBFCE7;
    direction: ltr;
    box-shadow: 0 1px #DBFCE7;
}

.avatar:hover {
    box-shadow: 0 3px #DBFCE7;
}

.content-avatar1 span {
    font-size: 12px;
    color: #717988;
}

.avatar img {
    width: 40px;
    border-radius: 10px;
}

.section-2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding-top: 2.1875rem;
    margin-left: 1.25rem;
}

.content-for-salary {
    width: 30%;
    border: .0625rem solid #E5E7EB;
    padding: 1.25rem;
    border-radius: 1.25rem;
    background-color: white;
    box-shadow: 0 .125rem #E5E7EB;
}

.arrow-up {
    display: flex;
    flex-wrap: nowrap;
}

.arrow-up i {
    padding-left: 10px;
}

.content-for-salary .arrow-up p {
    color: #00A663;
}

.content-for-salary p {
    color: #6A86B6;
    padding-bottom: .9375rem;
}

.content-for-salary h1 {
    padding-bottom: .625rem;
}

.arrow-down {
    display: flex;
    flex-wrap: nowrap;
}

.content-for-salary .arrow-down p {
    color: #E7000B;
    padding-right: .625rem;
}

 .container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "new-activity new-activity table table table table table"
    "new-activity new-activity table table table table table"
    "monthly-bills monthly-bills table table table table table"
    "monthly-bills monthly-bills table table table table table";
}

.table { grid-area: table; }

.new-activity { grid-area: new-activity; }

.monthly-bills { grid-area: monthly-bills; }
 .last-action{
    display: flex;
    justify-content: space-between;
}
.head-table{
    display: flex;
    justify-content: space-between;
}
.img-client img{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}
.client-1{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

}
.client-details .content-img span{
    font-size: .8125rem;
    color: gray;
} 
.client-details{
      display: flex;
    flex-wrap: nowrap;
}
.income{
    width: fit-content;
    border-radius: .625rem;
    background-color: #D9FAE5;
    padding: .3125rem;
}
.state{
    width: fit-content;
    background-color:#D9FAE5 ;
    border-radius: 1.25rem;
    padding: .3125rem;
    font-size: .8125rem;
}
.cash-row1{
    color: #00A663;
}
.last-action{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 1.5625rem;
}
.last-action p{
    font-size: 1.125rem;
    font-weight: 700;
    padding-right: .9375rem;
}
.last-action span{
    font-size: .8125rem;
    color: #101828;
    padding-left: .9375rem;

}
.container-for-table{
    margin: 1.5625rem;
    border: .125rem solid #E5E7EB;
    border-radius: 1.25rem;
    background-color: white;
    padding: 1.25rem;
}
.main-table{
 
font-size: .9375rem;
margin: 1.875rem auto;
 width: 100%; 
 border-collapse:collapse;
}
.main-table tr{
    border-bottom: .0625rem solid #F3F4F6;
}
.main-table .last-row{
    border: 0;
}
.max{
    padding-right: .625rem;
}
.main-row-1{
margin-top: 20px;
}
.restaurant .img-restaurant , .logo-cart-for-amazon , .logo-cart-for-shell , .logo-cart-for-netflix , .logo-cart-for-club , .logo-cart-for-course {
width: fit-content;
padding: .625rem;
border-radius: 50%;
background-color: #F6E5CC;

}
.container-for-restaurant .restaurant .content-img span , .electric-shopping , .monthly-subscription , .traning-course , .monthly-membership ,.buying-gas  {
    font-size: .8125rem;
    color: gray;
}
.restaurant , .container-for-amazon , .container-for-shell , .container-for-netflix , .container-for-club , .container-for-course{
    display: flex;
    flex-wrap: nowrap;
  
}
.food ,.shopping , .split-bill , .business , .transportation , .entertainment , .healthy , .learn {
    width: fit-content;
    padding: .625rem;
    border-radius: .625rem;
    background-color: #FFEDD4;
    font-size: .8125rem;
}

.shopping{
background-color: #DBEAFE;
}
.logo-cart-for-amazon{
background-color: #DBEAFE;
}
.split-bill{
    background-color: #F2E7FE;
}
.business{
    background-color: #DBFCE7;
}
.color-row-4{
    color: #00A663;
}
.logo-cart-for-shell{
    background-color: #FFE2E2;
}
.transportation{
    background-color: #FFE2E2;
}
.hanging{
    color:#984B44 ;
    background-color: #FEF9C2;
}
.logo-cart-for-netflix{
    background-color: #E0E7FF;
}
.entertainment{
    background-color:#c6c5d2 ;
    color:#372AAC ;
}
.logo-cart-for-club{
    background-color: #CEFAFE;
}
.healthy{
    background-color: #CEFAFE;
}
.logo-cart-for-course{
    background-color: #D0FAE5;
}
.learn{
    background-color: #D0FAE5;
} 
.new-activity{
    border: .125rem solid  #E5E7EB;
    border-radius: 1.25rem;
  margin-top: 1.6875rem;
  background-color: white;
  
   
}
.create-acount{
    padding-top: .9375rem;
    position: relative;
}
.new-activity h2{
    padding-bottom: 2.5rem;
    padding-top: 1.5rem;
    padding-right: 1.25rem;
}
.flex-acount{
    display: flex;
    flex-wrap: nowrap;
}
.create-acount span , .add-card span{
    font-size: .8125rem;
    padding-right: 2.8125rem;
}
.new-activity .create-acount , .add-card{
    width: 91%;
 margin-right: .9375rem;
    border: .125rem solid #EFF6FF;
    border-radius: .625rem;
    background-color: #EFF6FF;
    box-shadow:-.1875rem 0 #2B7FFF ;
    padding-right: .625rem; 
    padding-bottom: 0.875rem;
    padding-top: 1.875rem;
    margin-bottom: .875rem;
   
}
.logo-for-new-acount , .logo-for-new-card{
    width: fit-content;
    padding: .625rem;
    border-radius: 50%;
    background-color: #DBEAFE;
}
.detail-card{
    font-size: .8125rem;
    padding-right: .625rem;
}
.acount{
    position: absolute;
    top: 10px;
   left: 15px;
    color:#2B7FFF ;
    font-size: .8125rem;
}
.add-card {
     box-shadow:-.1875rem 0 #00C950 ;
     position: relative;
}
.card-visa{
    position: absolute;
    left: .9375rem;
    top: .625rem;
    font-size: .8125rem;
    color:#00C950  ;
}
.new-activity h5{
    text-align: center;
    color:#2B7FFF ;
    padding-top: 1.25rem;
    border-top:1px solid rgb(230, 227, 227) ;
}